{% extends "base.html" %} {% block title %}Registration{% endblock %} {% block content
%}
<style>
            .outerDiv {
                background-color: #eaf0f3;
                color: #fff;

                width: 100%;
                margin: 1px auto;
                padding: 1px;
            }
            .leftDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 60%;
                float: left;
            }
            .rightDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 40%;
                float: right;
            }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  font-weight: bolder
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.form-group {
    margin: 25px;
    font-weight: bold;
}
.col-form-label {
	width: 50%
}

</style>

<form method="POST" action="/predict">
    <h3 align="center" style="color: #fff; font-weight: bold">Rate Yourself</h3>

    <div class="" style="border-bottom: 1px solid black; font-size: 12px">
        <div class="outerDiv">
            <div class="leftDiv" style="width: 100%; padding-right: 10px">
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Database Fundamentals</label>
							<div class="col-sm-9">
							<select class="form-select form-control" required aria-label="select example" name="rate_Database Fundamentals" style="width: 70%">
								  <option value="">Choose option</option>
								 	<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
								</select>

						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Computer Architecture</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Computer Architecture" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Distributed Computing Systems</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Distributed Computing" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Cyber Security</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Cyber Security" style="width: 70%">
							        <option value="" >Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Computer Networking</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Computer Networking" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Software Development</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Software Development" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Programming Skills</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Programming Skills" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Project Management</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Project Management" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Computer Fundamentals</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Computer Fundamentals" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Technical Communication skills</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Technical Communication Skills" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">AI ML</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_AI ML" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Software Engineering</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Software Engineering" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Business Analysis</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Business Analysis" style="width: 70%">
							        <option disabled= "disabled" selected="selected">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Communication skills</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Communication skills" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3 col-form-label">Data Science</label>
							<div class="col-sm-9">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Data Science" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Troubleshooting skills</label>
							<div class="col-sm-9">
							 <select  class="form-control" name="rate_Troubleshooting skills" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>

                </div>
				<div class="form-group row">
							<label  class="col-sm-3  col-form-label">Graphics Designing</label>
							<div class="col-sm-9">
							 <select  class="form-control" name="rate_Graphics Designing" style="width: 70%">
							        <option value="">Choose option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="4">Below Average</option>
									<option value="5">Average</option>
									<option value="6">Above Average</option>
									<option value="7">Intermediate</option>
									<option value="8">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>

                <!--</div>

            </div>-->

            <div class="rightDiv" style="width: 50%">

            </div>
            <div style="clear: both;"></div>
        </div>
    </div>



    <br/><br/>
    <div align="center">
        <button type="submit" class="btn btn-primary" style="float: center"><b>Submit</b></button>
    </div>

</form>

{% endblock %}


