{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
            .outerDiv {
                background-color: #eaf0f3;
                color: #fff;

                width: 100%;
                height: 100%
                margin: 1px auto;
                padding: 1px;
            }
            .leftDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 60%;
                float: left;
            }
            .rightDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 40%;
                float: right;
            }

</style>
<div class="outerDiv">
    <div class="leftDiv">
        <div>
            <img src="static/images/career.png" height="372px" width="100%" style="padding: 9px">
        </div>
        <div>
            <img src="static/images/front.png" height="215px" width="167%" style="padding: 9px">
        </div>
       <!--<div style="margin-left: 20px">
            <span style="font-size: 25px; font-weight: bold; font-family: cursive; color: red;">Confused</span>
            <span style="font-size: 20px; font-family: cursive; font-weight: bold;"> about career choice??? Get GUIDANCE from AI....</span></br></br>
            <span style="font-size:20px; font-family: monospace; font-weight: bold;">
                How Career Guidance AI will help you succeed?
                <div style="font-size: 15px">
                    <ul>
                        <li>Tell your skills to AI</li>
                        <li>Tell your interests to AI</li>
                        <li>AI will analyze, what other people with same skill and interest are doing</li>
                        <li>AI will guide you to choose right career path</li>
                        <li>AI will suggest you courses and certification you may need</li>
                        <li>Save your time to survey the current trends </li>
                    </ul>
                </div>
            </span>
        </div>-->
    </div>
    <div class="rightDiv">
        <form method="POST">
            <div align="center" style="border: 1px solid black; margin: 10px; padding: 30px">
                <h3 align="center">Please Sign In</h3>
                <div class="form-group">
                    <label for="email" style="float:left;">Email Address</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email"
                            style="width: 100%; border: 1px solid #b3aaaa"
                    />

                </div>
                <div class="form-group">
                    <label for="password" style="float:left;">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            style="width: 100%; border: 1px solid #b3aaaa"
                    />
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
                <br/>
            </div>
        </form>
    </div>

    <div style="clear: both;"></div>

</div>
<div style="color: #70b6f3; font-style: italic; font-family: monospace; font-size: smaller; font-weight: bolder" align="center">
    <span>
        Copyright © 2023 ALl rights reserved to the DEVELOPERS: Rahul,Dinesh,Sampransh,Suryadip & Subhayan
    </span>
</div>

{% endblock %}