{% extends "base.html" %} {% block title %}Registration{% endblock %} {% block content
%}
<style>
            .outerDiv {
                background-color: #eaf0f3;
                color: #fff;

                width: 100%;
                margin: 1px auto;
                padding: 1px;
            }
            .leftDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 60%;
                float: left;
            }
            .rightDiv {
                background-color: #eaf0f3;
                color: #000;

                width: 40%;
                float: right;
            }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  font-weight: bolder
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



</style>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4 class="modal-title">Upload File</h4>
        </div>
        <div class="modal-body">
          <form enctype = "multipart/form-data" action = "/uploadfile" method = "post">
            <input type = "file" name = "filename" required /><br><br>
            <p> <input type = "submit" class="btn btn-primary btn-sm" value = "Upload Now" onclick="move()"/> </p>
              <div class="w3-light-grey">
            <div id="myBar" class="w3-green" style="height:24px;width:0"></div>
          </div>
          <br>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="RegistrationForm" id="RegistrationForm" action="/register">
    <input type="hidden" id="userid" name="userid" value="{{ user.userId }}">
    <h3 align="center" style="color: #fff; font-weight: bold">Registration</h3>
    <h5 align="right" style="color: #fff;">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><b>Click Here</b></button>
    to upload your Resume for Registration</h5>
    <div class="accordion">Personal Information</div>
    <div class="panel" style="border-bottom: 1px solid black;">
        <div class="outerDiv">
            <div class="leftDiv" style="width: 50%; padding-right: 10px">

                <div class="form-group">
                    <label for="firstname" style="float:left; font-weight: bolder">First Name
                        <span style="color:red; font-weight: bolder"> *</span></label>

                    <input
                            class="form-control"
                            id="firstname"
                            name="firstname"
                            placeholder="Enter First Name"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.firstname }}"

                    />
                </div>
                <div class="form-group">
                    <label for="dob" style="float:left; font-weight: bolder">Date of Birth
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="dob"
                            name="dob"
                            placeholder="Enter Date of Birth"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="date"
                            value="{{ RegistrationForm.dob }}"
                    />
                </div>
                <div class="form-group">
                    <label for="city" style="float:left; font-weight: bolder">City
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="city"
                            name="city"
                            placeholder="Enter City"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.city }}"
                    />
                </div>
                <div class="form-group">
                    <label for="country" style="float:left; font-weight: bolder">Country
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="country"
                            name="country"
                            placeholder="Enter country"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.country }}"
                    />
                </div>
                <div class="form-group">
                    <label for="gender" style="float:left; font-weight: bolder">Gender
                            <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                    <select id="gender" name="gender" size="1" required>
                      <option value="">Select</option>
                      <option value="male" {% if RegistrationForm.gender=="male" %}selected{% endif %}>Male</option>
                      <option value="female" {% if RegistrationForm.gender=="female" %}selected{% endif %}>Female</option>
                      <option value="both" {% if RegistrationForm.gender=="both" %}selected{% endif %}>Both</option>
                    </select>
                </div>
            </div>

            <div class="rightDiv" style="width: 50%">
                <div class="form-group">
                    <label for="lastname" style="float:left; font-weight: bolder">Last Name
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="lastname"
                            name="lastname"
                            placeholder="Enter Last Name"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.lastname }}"
                    />
                </div>
                <div class="form-group">
                    <label for="contactnumber" style="float:left; font-weight: bolder">Contact Number
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="contactnumber"
                            name="contactnumber"
                            placeholder="Enter Contact Number"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.contactnumber }}"
                    />
                </div>
                <div class="form-group">
                    <label for="state" style="float:left; font-weight: bolder">State
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="state"
                            name="state"
                            placeholder="Enter State"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.state }}"
                    />
                </div>
                <div class="form-group">
                    <label for="pin" style="float:left; font-weight: bolder">PIN
                            <span style="color:red; font-weight: bolder"> *</span></label>
                    <input
                            class="form-control"
                            id="pin"
                            name="pin"
                            placeholder="Enter PIN"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="number"
                            value="{{ RegistrationForm.pin }}"
                    />
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="accordion">Educational Qualification</div>
    <div class="panel" style="border-bottom: 1px solid black">
        <div class="outerDiv">
            <div class="leftDiv" style="width: 50%; padding-right: 10px">

                <div class="form-group">
                    <label for="qualification" style="float:left; font-weight: bolder">Qualification
                            <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                   <!-- <select id="qualification" name="qualification" size="1" required>
                        <OPTION value="">Select</OPTION>
                          {% for j in listofqualification %}
                            <OPTION value="{{ j.qualificationid }}"
                                {% if RegistrationForm.qualification==j.qualificationid %}selected{% endif %}>{{j.qualificationname}}</OPTION>
                          {% endfor %}
                    </select>-->
                    <input
                            class="form-control"
                            id="qualification"
                            name="qualification"
                            placeholder="Enter qualification"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.qualification }}"
                    />
                </div>
                <div class="form-group">
                    <label for="institute" style="float:left; font-weight: bolder">Institute/College
                            <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                    <!--<select id="institute" name="institute" size="1" required>
                        <OPTION value="">Select</OPTION>
                          {% for j in listofcolleges %}
                                <OPTION value="{{ j.collegeid }}"
                                    {% if RegistrationForm.institute==j.collegeid %}selected{% endif %}>{{j.collegename}}</OPTION>
                          {% endfor %}
                    </select>-->
                    <input
                            class="form-control"
                            id="institute"
                            name="institute"
                            placeholder="Enter institute"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.institute }}"
                    />
                </div>
                <div class="form-group">
                    <label for="yearofcompletion" style="float:left; font-weight: bolder">Year Of Completion
                        <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                    <input
                            class="form-control"
                            id="yearofcompletion"
                            name="yearofcompletion"
                            placeholder="Enter Completion Year"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="number"
                            value="{{ RegistrationForm.yearofcompletion }}"
                    />
                </div>
                <div class="form-group">
                    <label for="grade" style="float:left; font-weight: bolder">Grade
                        <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                    <input
                            class="form-control"
                            id="grade"
                            name="grade"
                            placeholder="Enter Grade/Percentage/CGPA"
                            required
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.grade }}"
                    />
                </div>
                <div class="form-group">
                    <label for="rating" style="float:left; font-weight: bolder">Rating
                            <span style="color:red; font-weight: bolder; margin-right: 10px"> * </span></label>
                    <select id="rating" name="rating" size="1" required>
                      <option value="">Select</option>
                      <option value="1" {% if RegistrationForm.rating=="1" %}selected{% endif %}>1</option>
                      <option value="2" {% if RegistrationForm.rating=="2" %}selected{% endif %}>2</option>
                      <option value="3" {% if RegistrationForm.rating=="3" %}selected{% endif %}>3</option>
                      <option value="4" {% if RegistrationForm.rating=="4" %}selected{% endif %}>4</option>
                      <option value="5" {% if RegistrationForm.rating=="5" %}selected{% endif %}>5</option>
                    </select>
                </div>
            </div>

            <div class="rightDiv" style="width: 50%">

             </div>
            <div style="clear: both;"></div>
        </div>
    </div>
   <div class="accordion">Professional Experience</div>
    <div class="panel" style="border-bottom: 1px solid black">
        <div class="outerDiv">
            <div class="leftDiv" style="width: 50%; padding-right: 10px">

                <div class="form-group">
                    <label for="organization" style="float:left; font-weight: bolder">Organization</label>
                    <input
                            class="form-control"
                            id="organization"
                            name="organization"
                            placeholder="Enter Organization"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.organization }}"
                    />
                </div>
                <div class="form-group">
                    <label for="started" style="float:left; font-weight: bolder">Started On</label>
                    <input
                            class="form-control"
                            id="started"
                            name="started"
                            placeholder="Enter Start Year/Month"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.started }}"
                    />
                </div>
                <div class="form-group">
                    <label for="skills" style="float:left; font-weight: bolder">Skills</label>
                    <input
                            class="form-control"
                            id="skills"
                            name="skills"
                            placeholder="Enter Skills"
                            style="width: 100%; border: 1px solid #b3aaaa; height: "
                            type="text"
                            value="{{ RegistrationForm.skills }}"
                            size="10"
                    />
                </div>
            </div>

            <div class="rightDiv" style="width: 50%">
                <div class="form-group">
                    <label for="designation" style="float:left; font-weight: bolder">Designation</label>
                    <input
                            class="form-control"
                            id="designation"
                            name="designation"
                            placeholder="Enter Designation"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.designation }}"
                    />
                </div>

                <div class="form-group">
                    <label for="ended" style="float:left; font-weight: bolder">Quit On</label>
                    <input
                            class="form-control"
                            id="ended"
                            name="ended"
                            placeholder="Enter Quit Year/Month"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.ended }}"

                    />
                </div>
                </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="accordion">Certification</div>
    <div class="panel" style="border-bottom: 1px solid black">
        <div class="outerDiv">
            <div class="leftDiv" style="width: 50%; padding-right: 10px">

                <div class="form-group">
                    <label for="certificatename" style="float:left;font-weight: bolder">Certificate</label>
                    <input
                            class="form-control"
                            id="certificatename"
                            name="certificatename"
                            placeholder="Enter Certificate"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.certificatename }}"
                    />
                </div>
                <div class="form-group">
                    <label for="duration" style="float:left; font-weight: bolder">Duration</label>
                    <input
                            class="form-control"
                            id="duration"
                            name="duration"
                            placeholder="Enter Duration"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.duration }}"
                    />
                </div>
            </div>

            <div class="rightDiv" style="width: 50%">
                <div class="form-group">
                    <label for="completionyear" style="float:left; font-weight: bolder">Completion Year</label>
                    <input
                            class="form-control"
                            id="completionyear"
                            name="completionyear"
                            placeholder="Enter Completion Year"
                            style="width: 100%; border: 1px solid #b3aaaa"
                            type="text"
                            value="{{ RegistrationForm.completionyear }}"
                    />
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <br/><br/>
    <div align="center">
        <button type="submit" class="btn btn-primary" style="float: center"><b>Submit</b></button>
    </div>

</form>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {

  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 200);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
    }
  }
}
</script>


</script>
{% endblock %}


